<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures the integration with Layout Service module.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <group groupName="layoutService">
                <pipelines>
                    <getFieldSerializer performanceCritical="true">
                        <processor type="Sitecore.Foundation.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetGeneralLinkFieldSerializer, Sitecore.Foundation.LayoutService" resolve="true">
                          <FieldTypes hint="list">
                            <fieldType id="2">general link with search</fieldType>
                          </FieldTypes>
                        </processor>
                    </getFieldSerializer>
                </pipelines>
            </group>
        </pipelines>
    </sitecore>
</configuration>
